@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.main {
    display: flex;
    flex-direction: column;
    gap: 3.2rem
}

.title {
    font: 600 #{$font-size-m-3}/#{$line-height-m-3} $font-family;
    color: $Gray-950;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.blocks {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;

    &>div {
        flex: 1;
    }
}

.prize {
    background: linear-gradient(90deg, $Malachite-200, $Malachite-500);
    padding: 2rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.name {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font: 600 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    color: $Gray-950;
}

.status {
    font: 500 #{$font-size-s-1}/#{$line-height-s-1} $font-family;
    display: flex;
    flex-direction: row;
    width: 7rem;
    padding: 0.4rem 0.8rem;
    gap: 0.2rem;
    align-items: center;
    border-radius: 4.8rem;
}

.statusFall {
    z-index: 1;
    background: $Red-050;
    color: $Red-600;
}

.statusHeight {
    z-index: 1;
    background: $Malachite-050;
    color: $Malachite-600;
}

.upperBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mediumBlock {
    font: 700 #{$font-size-l-1}/#{$line-height-l-1} $font-family;
}

.bottomBlock {
    margin-top: 1.9rem;
    font: 400 #{$font-size-m-1}/0 $font-family;
    color: $Malachite-800
}

.image {
    width: 10.8rem;
    height: 10.8rem;
    position: absolute;
    bottom: 0;
    right: 0;

}

.dealsBlock {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;



    .tableDeals {
        display: flex;
        flex-direction: column;
        flex: 2.0093;
        gap: 2rem;
    }

    .effectiveness {
        display: flex;
        flex-direction: column;
        flex: 0.96;
        gap: 3.2rem;
    }

}