@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;


.blockWrapper {
    background: $White-000;
    padding: 2.4rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.upperBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font: 600 #{$font-size-m-2}/#{$line-height-m-2} $font-family;
    color: $Gray-950;
}

.status {
    font: 500 #{$font-size-s-1}/#{$line-height-s-1} $font-family;
    display: flex;
    flex-direction: row;
    width: 7rem;
    padding: 0.4rem 0.8rem;
    gap: 0.2rem;
    align-items: center;
    border-radius: 4.8rem;
}

.statusFall {
    background: $Red-050;
    color: $Red-600;
}

.statusHeight {
    background: $Malachite-050;
    color: $Malachite-600;
}

.result {
    display: flex;
    gap: 0.4rem;

    &Done {
        font: 700 #{$font-size-l-2}/#{$line-height-l-2} $font-family;
        color: $Gray-950;
    }

    &DoneNo {
        padding: 0.4rem 0 0.8rem 0;
        font: 600 #{$font-size-m-3}/#{$line-height-m-2} $font-family;
        color: $Gray-500;
    }

    &Descrip {
        font: 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
        color: $Gray-500;
        margin-bottom: 2.4rem;
    }

    &DescripLevel {
        font: 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
        color: $Gray-500;
        margin-bottom: 1.3rem;
    }
}

.progressbar {
    height: 4px;
    background-color: $Gray-100;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;

    .progress {
        height: 100%;
        background: linear-gradient(90deg, $Malachite-200, $Malachite-600);
        transition: width 0.3s ease;
    }
}

.totalLevel {
    font: 600 #{$font-size-m-2}/#{$line-height-m-1} $font-family;
    color: $Gray-400;
}

.progressbarLevel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 100%;
}

.percent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 2rem;
    border-radius: 4.8rem;
    padding: 0.2rem 0.8rem;
    background-color: $Malachite-500;
    font: 500 #{$font-size-s-1}/#{$line-height-s-1} $font-family;
    color: $White-000;
}

.percentGray {
    background-color: $Gray-100;
    color: $Gray-950;
}


.progressLevel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex: 1;
}

.car {
    width: 4.3rem;
    height: 2.4rem;
}


.done {
    background: linear-gradient(90deg, $Malachite-200, $Malachite-600);
    transition: width 0.3s ease;
    height: 4px;
    margin-right: -1px
}

.noDone {
    background: $Gray-100;
    transition: width 0.3s ease;
    height: 4px;

}