@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.wrapper {
    position: relative;
    display: inline-block;

    .text {
        position: absolute;
        padding: 0.8rem;
        background-color: $White-000;
        color: rgba(4, 47, 46, 1);
        font:500 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
        border-radius: 0.4rem;
        font-size: 1.4rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        width: 31rem;
        z-index: 2;

        &.backGrey {
            background-color: $Gray-200;
        }

        &::after {
            content: '';
            position: absolute;
            border-style: solid;
        }


    }

    &:hover .text {
        opacity: 1;
        visibility: visible;
    }

    &.top .text {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0.8rem;

        &::after {
            top: 100%;
            left: 50%;
            border-width: 0.5rem 0.5rem 0 0.5rem;
            border-color: $White-000 transparent transparent transparent;
            transform: translateX(-50%);
        }

        &.backGrey::after {
            border-color: $Gray-200 transparent transparent transparent;
        }
    }


    &.bottom .text {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0.8rem;

        &::after {
            bottom: 100%;
            left: 50%;
            border-width: 0 0.5rem 0.5rem 0.5rem;
            border-color: transparent transparent $White-000 transparent;
            transform: translateX(-50%);
        }

        &.backGrey::after {
            border-color: transparent transparent $Gray-200 transparent;
        }
    }

    &.left .text {
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 0.8rem;

        &::after {
            right: -0.5rem;
            top: 50%;
            border-width: 0.5rem 0 0.5rem 0.5rem;
            border-color: transparent transparent transparent $White-000;
            transform: translateY(-50%);
        }

        &.backGrey::after {
            border-color: transparent transparent transparent $Gray-200;
        }
    }

    &.right .text {
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 8px;

        &::after {
            left: -0.5rem;
            top: 50%;
            border-width: 0.5rem 0.5rem 0.5rem 0;
            border-color: transparent $White-000 transparent transparent;
            transform: translateY(-50%);
        }

        &.backGrey::after {
            border-color: transparent $Gray-200 transparent transparent;
        }
    }
}

.icon {
    cursor: help;
}