@use 'src/styles/fonts.scss'as *;
@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.main {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
}

.topContainer {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    width: 100%;

    &Graph {
        flex: 2;
    }

    &Diagram {
        flex: 0.96;

        @media (min-width: 1700px) {
            flex: 0.97;
        }
    }
}

.bottomContainer {
    border-radius: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    width: 100%;


    &Table {
        flex: 2;
    }

    &Empty {
        flex: 0.96;

        @media (min-width: 1700px) {
            flex: 0.97;
        }
    }
}