@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.main {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
}

.label {
    font : 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    color: $Gray-500;
}

.input {
    height: 4.8rem;
    padding: 1.2rem;
    border: 0.1rem solid $Gray-200;
    border-radius: 1.2rem;
    font : 400 #{$font-size-m-2}/#{$line-height-m-1} $font-family;
    color: $Gray-400;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    appearance: none;

    & {
        -moz-appearance: textfield;
        appearance: none;
    }


}

.typeValue {
    position: absolute;
    right: 1.2rem;
    top: 55%;
    font : 400 #{$font-size-m-2}/#{$line-height-m-1} $font-family;
    color: $Gray-950;
}