@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.main {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    align-items: flex-start;
    width: 100%;
}

.calculator,
.result {
    display: flex;
    flex-direction: column;
    background-color: $White-000;
    padding: 2rem;
    border-radius: 1.2rem;
}

.calculator {
    flex: 2.13;

    @media (min-width: 1700px) {
        flex: 2.06;
    }
}

.result {
    flex: 0.96;
}