// Варианты цвета Malachite
$Malachite-050 : #EFFFE4;
$Malachite-100 : #DAFFC5;
$Malachite-200 : #B6FF92;
$Malachite-300 : #88FF53;
$Malachite-400 : #5CFB20;
$Malachite-500 : #36D000;
$Malachite-600 : #2AB500;
$Malachite-700 : #208902;
$Malachite-800 : #1E6C08;
$Malachite-900 : #1C5B0C;
$Malachite-950 : #083300;

// Варианты цвета Gray
$Gray-050 : #F7F8F8;
$Gray-100 : #EDEEF1;
$Gray-200 : #D8DBDF;
$Gray-300 : #B6BAC3;
$Gray-400 : #8E95A2;
$Gray-500 : #6B7280;
$Gray-600 : #5B616E;
$Gray-700 : #4A4E5A;
$Gray-800 : #40444C;
$Gray-900 : #383A42;
$Gray-950 : #25272C;

// Варианты цвета Red
$Red-050 : #FFF4ED;
$Red-100 : #FFE6D4;
$Red-200 : #FFC9A8;
$Red-300 : #FFA370;
$Red-400 : #FF7137;
$Red-500 : #FF5821;
$Red-600 : #F03006;
$Red-700 : #C72007;
$Red-800 : #9E1B0E;
$Red-900 : #7F1A0F;
$Red-950 : #450905;

// Цвет White
$White-000: #FFFFFF