@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.main {
    display: flex;
    flex-direction: column;
    gap: 2.4rem
}

.title {
    font: 600 #{$font-size-m-2}/#{$line-height-m-1} $font-family;
    color: $Gray-950
}

.results {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.button {
    width: 100%;
    display: flex;
    gap: 0.8rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 2.4rem;
    border-radius: 1.2rem;
    background-color: $Malachite-500;
    border: none;
    font : 600 #{$font-size-m-2}/#{$line-height-m-1} $font-family;
    color: $White-000;

    &:active {
        background-color: $Malachite-600;

    }
}

.oneResult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.2rem;
    padding: 1.2rem 2rem 1.2rem 1.2rem;
    background: $Gray-050;
}

.leftBlock {
    display: flex;
    flex-direction: row;
    gap: 1.2rem
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: $White-000;

    >img {
        width: 3.2rem;
        height: 3.2rem;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    >span {
        font : 400 #{$font-size-m-2}/#{$line-height-m-1} $font-family;
        color: $Gray-500;
    }

    >span:first-child {
        font : 600 #{$font-size-m-2}/#{$line-height-m-2} $font-family;
        color: $Gray-950;
    }
}

.value {
    font : 600 #{$font-size-m-2}/#{$line-height-m-2} $font-family;
    color: $Gray-950;
}

.disabled {
    background-color: $Malachite-100;
    cursor: default;

    &:active {
        background-color: $Malachite-100;
    }
}