@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.table {

    &Sort {
        height: 6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 0.1rem solid $Gray-100;
        background: $White-000;
        border-radius: 1.2rem 1.2rem 0 0;
    }

    &SortSumma {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.8rem;
        margin-right: 2rem;
        font : 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    }

    &Header {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        font : 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
        color: $Gray-500;
        background: $White-000;
    }
}

.small {
    flex: 1;
    text-align: right;
}

.medium {
    flex: 1.5
}

.big {
    flex: 2;
}

.list {
    margin-bottom: 2rem;
    border-radius: 0 0 1.2rem 1.2rem !important;
    max-height: 70.4rem;
    overflow: scroll;
    overflow-x: hidden;

    &Item {
        display: flex;
        flex-direction: row;
        padding: 1.2rem 2rem;
        background: $White-000;

        &:last-child {
            border-radius: 0 0 1.2rem 1.2rem;
        }
    }
}

.grayBackground {
    background: $Gray-050;
}

.summ {
    font : 600 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    color: $Gray-950;
}

.zero {
    font : 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    color: $Gray-500;
}

.zeroNO {
    font : 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    color: $Gray-950;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.total {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    font : 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    color: $Gray-400;

    &Sum {
        font : 600 #{$font-size-m-3}/#{$line-height-m-3} $font-family;
        color: $Gray-950;
    }
}

.counter {
    font : 400 #{$font-size-m-1}/#{$line-height-m-1} $font-family;
    color: $Gray-400;

    &Value {
        font : 600 #{$font-size-m-3}/#{$line-height-m-3} $font-family;
        color: $Gray-950;
    }
}