@use 'src/styles/fonts.scss'as *;
@use 'src/styles/colors.scss'as *;
@use 'src/styles/variables.scss'as *;

.main {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    width: 100%;
}


.rightContainer {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    flex: 0.96;
}


.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    flex: 2;
}

.bottomContainer {
    border-radius: 1.2rem;
}